body {
  background-color: var(--back-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-descr);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
:root {
  --back-color: #ffffff;
  --heeader-color: #2e2f42;
  --hover-element: #404bbf;
  --hover-socials: #31d0aa;
  --button-color: #4d5ae5;
  --text-descr: #434455;
  --text-on-dark: #f4f4fd;
  --nav-border: #e7e9fc;
  --icon-color: #8e8f99;
  --modal-bg: #fcfcfc;

  --transf-units: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset start */
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}

/* Logo style */
.logo-studio {
  color: var(--heeader-color);
}
.logo-studio-footer {
  color: var(--text-on-dark);
}
/* Link style */
.link {
  text-decoration: none;
  color: var(--heeader-color);
}
.nav-link {
  font-weight: 500;
  padding: 24px 0;

  position: relative;
  transition: color var(--transf-units);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-element);
}
.nav-link.active {
  color: var(--hover-element);
}
.nav-link::after {
  content: "";
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  bottom: -1px;
  left: 0;
}
.nav-link.active::after {
  background-color: var(--hover-element);
}

/* Addres link style */
.link-addr {
  color: var(--text-descr);
  font-style: normal;
  padding: 24px 0;
  transition: color var(--transf-units);
}
.link-addr:hover,
.link-addr:focus {
  color: var(--hover-element);
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--button-color);
  letter-spacing: 0.03em;
}
.link-logo-header {
  margin-right: 76px;
  padding: 24px 0;
}
.link-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

/* Buttons style*/
.button-order {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--back-color);

  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transf-units);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--hover-element);
}
.button-portfolio {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  background-color: var(--text-on-dark);
  color: var(--button-color);

  padding: 12px 24px;

  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color var(--transf-units), color var(--transf-units),
    border-color var(--transf-units), box-shadow var(--transf-units);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--hover-element);
  color: var(--back-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Text Styles */
.slogan {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--back-color);
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--heeader-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heeader-color);
  margin-bottom: 8px;
}
.descr {
  letter-spacing: 0.02em;
  color: var(--text-descr);
  margin-bottom: 8px;
}
.descr-footer {
  color: var(--text-on-dark);
  max-width: 264px;
}
.footer-social {
  font-weight: 500;
  color: var(--back-color);
  margin-bottom: 16px;
}
.section-team {
  background-color: var(--text-on-dark);
}
.card-member {
  background-color: var(--back-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | Header Styles
  |============================
*/
.header {
  background-color: var(--back-color);
  border-bottom: 1px solid var(--nav-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
/**
  |============================
  | Hero Section Styles
  |============================
*/
.hero-container {
  padding: 188px 0;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--heeader-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-back-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**
  |============================
  | Feature Section Styles
  |============================
*/
.features-container {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.feaures-list-container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.feaures-list-block {
  width: calc((100% - 72px) / 4);
  padding: 0px;
}
.feature-icon-container {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.feature-icon {
  display: block;
  align-items: center;
  justify-content: center;
}
/**
  |============================
  | WhatAreWeDoing Section Styles
  |============================
*/
.wawd-container {
  align-items: center;
  padding-bottom: 120px;
}
.wawd-list-container {
  display: flex;
  padding: 0px;
  gap: 24px;
}
.wawd-list-block {
  width: calc((100% - 48px) / 3);
}
/**
  |============================
  | Our Team Section Styles
  |============================
*/
.team-container {
  align-items: center;
  padding-bottom: 120px;
}
.team-list-container {
  display: flex;
  padding: 0px;
  gap: 24px;
}
.team-list-block {
  width: calc((100%-72px) / 4);
}
.card-content {
  padding: 32px 0px;
}
/* OurTeam Socials icon style */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--button-color);
  border-radius: 50%;
  transition: background-color var(--transf-units);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--hover-element);
}
.socials-icon {
  fill: var(--text-on-dark);
}
/**
  |============================
  | Customers Section Styles
  |============================
*/
.customers-container {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list-container {
  display: flex;
  gap: 24px;
}
.customers-list-block {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color var(--transf-units), color var(--transf-units);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--hover-element);
  color: var(--hover-element);
}
.customers-icon {
  fill: currentColor;
}
/**
  |============================
  | Footer Styles
  |============================
*/
.footer-section {
  background-color: var(--heeader-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-block {
  margin-right: 120px;
}
/* footer Socials icon style */
.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--button-color);
  border-radius: 50%;
  transition: background-color var(--transf-units);
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--hover-socials);
}
.footer-social-block {
  margin-right: 80px;
}
/**
  |============================
  | Portfolio Section Styles
  |============================
*/
.portfolio-container {
  padding: 96px 0 120px;
}
.button-portfolio-container {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.card-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.card-portfolio-block {
  width: calc((100% - 48px) / 3);
}
.card-link {
  display: block;
  transition: box-shadow var(--transf-units);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translatey(0%);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--nav-border);
  border-top: none;
}
/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--button-color);

  transform: translatey(100%);
  transition: transform var(--transf-units);
}
.overlay-text {
  color: var(--text-on-dark);
}

/**
  |============================
  | Modal Window
  |============================
*/

.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transf-units), visibility var(--transf-units);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;

  background-color: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transf-units);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(2);
  transition-delay: 0ms;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  border-radius: 50%;
  color: var(--heeader-color);
  background-color: var(--nav-border);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--transf-units), border var(--transf-units);
}
.modal-close-icon {
  fill: currentColor;
  transition: fill var(--transf-units);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-element);
  border: none;
  color: var(--back-color);
}

.modal-title {
  display: block;
  font-weight: 500;
  text-align: center;
  color: var(--heeader-color);
  margin-bottom: 16px;
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form-label {
  display: block;
  color: var(--icon-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form-label-letter,
.form-comment,
.form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--transf-units);

  outline: transparent;
  outline-offset: -1px;
  padding: 0;
  padding-left: 38px;
}
.form-field:focus {
  /* outline: 1px solid var(--button-color); */
  border-color: var(--button-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transf-units);
  pointer-events: none;
}
.form-field:focus + .form-icon {
  fill: var(--button-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--transf-units);
  outline: transparent;
}
.form-comment:focus {
  border-color: var(--button-color);
}
.form-agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}
.form-agreement-check {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  outline: transparent;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff'/%3E%3C/svg%3E");

  transition: 200ms;
}
.form-agreement-check:checked {
  background-color: var(--hover-element);
  border-color: var(--hover-element);
}
/* svg checkbox */
.unchecked {
  opacity: 1;
  transition: 300ms;
}
.checked {
  opacity: 0;
  transition: 300ms;
}
.form-agreement-check:checked + .form-custom-check > .unchecked {
  opacity: 0;
}
.form-agreement-check:checked + .form-custom-check > .checked {
  opacity: 1;
}
